@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a:hover {
  color: #000;
  text-decoration: none; }

body {
  position: relative;
  left: 0; }

/*HEADER*/
.header {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%; }

.nav {
  background: #000;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px; }
  .nav_items {
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0; }
  .nav_item {
    border-bottom: 1px solid #ffffff;
    line-height: 3;
    font-weight: bold; }
    .nav_item_link {
      padding: 15px 0 0 78px;
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase; }
      .nav_item_link:hover {
        cursor: pointer;
        background: #fff; }

.nav_open, .nav_close {
  color: #000;
  font-size: 22px;
  cursor: pointer; }

.nav_close {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 40px;
  color: #fff; }
  .nav_close:hover {
    color: #fff; }

.logo {
  position: relative;
  top: -17px;
  left: 66px; }
  .logo_text {
    position: relative;
    top: 6px;
    font-weight: bold;
    font-size: 30px;
    color: #000; }

.social_item {
  display: inline-block;
  color: #000;
  text-align: center;
  margin-right: 8px;
  font-size: 22px; }
  .social_itemlast-child {
    margin-right: 0; }

/*HOME*/
.home {
  min-height: 800px;
  background: #fcdb00;
  padding-top: 275px; }
  .home_slogan {
    color: #000;
    font-size: 48px;
    font-weight: bold;
    text-align: center; }
  .home_des {
    font-size: 20px;
    max-width: 50%;
    text-align: center;
    margin: 20px auto 0 auto;
    line-height: 22px; }
  .home_btn, .prices-item_btn, .contact-form_submit, .footer-form_submit {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 2px solid #000;
    color: #000;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .home_btn:hover, .prices-item_btn:hover, .contact-form_submit:hover, .footer-form_submit:hover {
      background: #000;
      color: #fff;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
  .home_arrow {
    color: #000;
    font-size: 32px;
    margin: 175px auto 0 auto;
    display: block;
    width: 100px;
    text-align: center; }

/*FEATURES*/
.features, .prices, .works, .team, .stats, .contacts, .footer {
  min-height: 850px;
  background: #fff;
  padding-top: 120px; }
  .features_title, .prices_title, .works_title, .team_title, .stats_title, .contacts_title, .footer_title {
    text-align: center;
    font-weight: bold;
    font-size: 32px; }
  .features_des, .prices_des, .works_des, .team_des, .stats_des, .contacts_des, .footer_des {
    text-align: center;
    color: #a1a1a1;
    margin: 20px auto 100px auto;
    line-height: 1.2;
    font-size: 20px;
    width: 83.333333%; }
  .features-item {
    height: 150px;
    width: 300px;
    margin: 0 auto 100px auto; }
    .features-item_icon {
      font-size: 50px;
      float: left;
      height: 100%;
      margin-right: 20px;
      margin-top: -12px; }
    .features-item_title, .prices-item_title, .works-item_title, .team-item_title, .stats-item_title, .testimonial-item_title, .contacts-item_title {
      display: inline-block;
      font-weight: bold;
      font-size: 22px;
      text-transform: capitalize; }
    .features-item_des, .prices-item_des, .prices-item_price-des, .works-item_des, .team-item_des, .stats-item_des, .testimonial-item_des, .testimonial-item_about, .contacts-item_des {
      display: block;
      font-size: 16px;
      margin-top: 10px;
      color: #a1a1a1; }

/*PRICE*/
.prices_title {
  text-transform: capitalize; }

.prices-item {
  min-height: 400px;
  margin-bottom: 100px;
  text-align: center; }
  .prices-item_icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 0 auto 20px auto; }
  .prices-item_title {
    font-size: 24px; }
  .prices-item_price {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center; }
  .prices-item_price-des {
    max-width: 30%;
    border-top: 2px solid #000;
    margin: 0 auto; }

/*WORKS*/
.works-item {
  height: 280px;
  margin-bottom: 70px;
  text-align: center; }
  .works-item_img {
    position: relative;
    height: 220px;
    width: 220px;
    margin: 0 auto;
    overflow: hidden; }
    .works-item_img:hover figcaption {
      opacity: 1; }
    .works-item_img-caption {
      height: 220px;
      width: 220px;
      opacity: 0;
      text-align: center;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      background: #222; }
      .works-item_img-caption_link {
        cursor: pointer;
        display: inline-block;
        height: 45px;
        width: 45px;
        background: #fff;
        color: #222;
        font-size: 22px;
        position: relative;
        font-weight: bold;
        bottom: -70px;
        padding-top: 4px; }
  .works-item_title {
    margin-top: 10px;
    font-size: 22px; }
  .works-item_des {
    font-size: 16px;
    margin-top: 0; }

.viwed, .date {
  position: absolute;
  left: 15px;
  top: 180px;
  color: #fff;
  font-size: 22px;
  z-index: 99; }
  .viwed_num, .date_num {
    font-size: 14px;
    position: relative;
    top: -2px; }

.date {
  right: -107px;
  top: 180px; }

/*TEAM*/
.team {
  min-height: 700px; }
  .team_title {
    text-transform: capitalize; }
  .team-item {
    min-height: 300px;
    text-align: center; }
    .team-item_icon, .testimonial-item_icon {
      font-size: 50px;
      width: 150px;
      height: 150px;
      margin: 0 auto 0 auto; }
    .team-item_title {
      font-size: 22px;
      font-weight: normal; }
    .team-item_des {
      font-size: 16px;
      margin: 0 auto 10px auto; }
    .team-item_about {
      width: 70%;
      display: block;
      font-size: 14px;
      margin: 0 auto 10px auto; }

/*STATS*/
.stats_title {
  text-transform: capitalize; }

.stats_des {
  margin-bottom: 25px; }

.stats-item {
  min-height: 170px;
  text-align: center; }
  .stats-item_icon {
    padding-left: 15px;
    font-size: 48px;
    width: 80px;
    height: 80px;
    margin: 0 auto; }
  .stats-item_title {
    font-size: 24px;
    font-weight: bold; }
  .stats-item_des {
    font-size: 14px;
    margin: -5px auto 0 auto; }

.testimonial {
  margin-top: 30px;
  text-align: center; }
  .testimonial-item {
    min-height: 300px; }
    .testimonial-item_title {
      font-size: 22px;
      font-weight: normal; }
    .testimonial-item_des {
      font-size: 16px;
      margin: 0 auto 10px auto; }
    .testimonial-item_about {
      font-size: 20px;
      position: relative;
      margin: 0 auto;
      width: 50%; }
      .testimonial-item_about:before {
        font-family: 'FontAwesome', sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        position: absolute;
        top: 0;
        left: -70px;
        display: block;
        content: '\f10d'; }
      .testimonial-item_about:after {
        font-family: 'FontAwesome', sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        position: absolute;
        top: 50px;
        right: -70px;
        display: block;
        content: '\f10e'; }

/*CONTACTS*/
.contacts {
  padding-top: 100px;
  padding-bottom: 120px; }
  .contacts_title {
    text-transform: capitalize; }
  .contacts_des {
    margin-bottom: 50px; }
  .contacts-item {
    min-height: 170px;
    text-align: center; }
    .contacts-item_icon {
      font-size: 22px;
      width: 40px;
      height: 40px;
      margin: 0 auto; }
    .contacts-item_title {
      font-size: 24px;
      font-weight: normal;
      line-height: 1; }
    .contacts-item_des {
      line-height: 1;
      font-size: 14px;
      margin: 0 auto;
      width: 45%; }

.contact-form, .footer-form {
  width: 50%;
  margin: 0 auto; }
  .contact-form_email, .contact-form_name, .contact-form_message, .footer-form_email {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    border: 2px solid #000;
    padding-left: 20px; }
  .contact-form_message {
    padding-top: 20px;
    height: auto;
    margin-bottom: 20px; }
  .contact-form_submit {
    background: none;
    cursor: pointer; }
  .contact-form input::-webkit-input-placeholder, .footer-form input::-webkit-input-placeholder {
    font-size: 16px;
    color: #898989; }
  .contact-form input:-moz-placeholder, .footer-form input:-moz-placeholder {
    font-size: 16px;
    color: #898989; }
  .contact-form input::-moz-placeholder, .footer-form input::-moz-placeholder {
    font-size: 16px;
    color: #898989; }
  .contact-form input:-ms-input-placeholder, .footer-form input:-ms-input-placeholder {
    font-size: 16px;
    color: #898989; }

/*FOOTER*/
.footer {
  background: #000000;
  color: #fff; }
  .footer_items {
    list-style: none; }
  .footer_item {
    font-size: 16px;
    color: #fff; }
    .footer_item:hover {
      color: #fff; }

.footer-form {
  width: 100%;
  padding-left: 25px;
  margin: 0 auto 100px auto; }
  .footer-form_email {
    width: 82%; }
  .footer-form_submit {
    background: #fff;
    color: #000;
    cursor: pointer; }
  .footer-form input::-webkit-input-placeholder {
    font-size: 16px;
    color: #898989; }
  .footer-form input:-moz-placeholder {
    font-size: 16px;
    color: #898989; }
  .footer-form input::-moz-placeholder {
    font-size: 16px;
    color: #898989; }
  .footer-form input:-ms-input-placeholder {
    font-size: 16px;
    color: #898989; }

/*WIDGETS*/
/*TO UP*/
.to-up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background: #fcdb00; }
  .to-up:hover {
    -webkit-box-shadow: 0 0 30px #ffc219;
            box-shadow: 0 0 30px #ffc219;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    -o-transition: box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s; }
  .to-up_link {
    padding-left: 25%;
    padding-top: 20%;
    font-size: 26px;
    display: block;
    color: #222; }

/*WORKS VIWER*/
.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 999; }

.popup_bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%; }

.popup_img {
  position: fixed;
  z-index: 9;
  max-height: 94%;
  max-width: 94%;
  margin: 10% 0 0 -5%; }

/*MODIFICATORS*/
.-rounded {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.-grey-bg {
  background: #ebebeb; }

.-black-bg {
  background: #010101; }

.-grey-text {
  background: #ebebeb; }

.-black-text {
  background: #010101; }

.-white-text {
  color: #fff; }

.-home-btn {
  padding: 10px;
  width: 250px;
  font-size: 22px;
  margin: 40px auto 0 auto; }

.-contact-btn {
  padding: 10px;
  width: 160px;
  font-size: 16px;
  margin: 0 auto; }

.-prices-btn {
  padding: 10px;
  width: 140px;
  font-size: 16px;
  margin: 30px auto 0 auto; }

.-footer-btn {
  padding: 16px;
  width: 130px;
  font-size: 16px;
  display: inline-block; }
  .-footer-btn:hover {
    background: #fff;
    color: #000; }

.-img-responsive {
  max-width: 100%;
  height: auto;
  display: inline-block; }

.-social-team {
  font-size: 16px; }
